@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Gugi&family=Noto+Sans+KR&family=Noto+Serif+KR&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size : cover;
  background-color: black;
}

/* Style the top navigation bar */
.topnav {
  font-family: 'Gugi', cursive;
  font-size: 20px;
  font-weight: 100;
  overflow: hidden;
  background-color: #111;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 25px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active1 {
  background-color: #00307d;
  color: white;
}

.topnav a.active2 {
  background-color: yellow;
  color: black;
}

/* Header/Blog Title */
.header {
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.header h1 {
  font-family: 'Gugi', cursive;
  font-size: 75px;
  font-weight: 100;
  color: white;
  margin: 20px;
}

.header h2 {
  font-family: 'Gugi', cursive;
  font-size: 75px;
  font-weight: 100;
  color: red;
  margin: 20px;
}

.header h5 {
  font-family: 'Gugi', cursive;
  font-size: 27px;
  font-weight: 100;
  color: white;
  margin: 0px;
}

/* Add a card effect for articles */
.choice {
  padding: 0px;
  margin-top: 40px;
  margin-bottom: 0px;
  display: flex;
  justify-content: center;
}


/* Add a card effect for articles */
.card {
  padding: 0px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.card img {
  max-width: 100%;
  height: auto;
}

.card h2 {
  font-family: 'Noto Serif KR', serif;
  font-size: 30px;
  font-weight: 100;
  margin: 10px;
  color: white;
}

.card h5 {
  font-family: 'Gugi', cursive;
  font-size: 27px;
  font-weight: 100;
  color: white;
  margin: 20px;
}

/* Create two unequal columns that floats next to each other */
/* Column */
.column {
  float: center;
  width: 100%;
  height: auto;
  text-align: center;
}


/* Form Group */
.form-group {
  font-family: 'Gugi', cursive;
  margin-top: 100;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.form-group h2 {
  font-size: 20px;
  font-weight: 100;
  line-height: 15px;
  color: white;
}

.form-group h6 {
  font-size: 30px;
  font-weight: 100;
  line-height: 15px;
  margin: 30px;
  color: red;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .column {
    width: 100%;
    height: auto;
    padding: 0;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

input[type=text] {
  font-family: 'Noto Serif KR', serif;
  font-size: 20px;
  font-weight: 300;
  background-color: white;
  width: 50%;
  padding: 5px 10px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 0px solid #555;
  outline: none;
  width: 500px;
}

input[type=text]:focus {
  font-family: 'Noto Serif KR', serif;
  font-size: 20px;
  font-weight: 300;
  background-color: #00307d;
  color: yellow;
  font-weight: 200;
  text-align: center;
  width: 500px;
}

#button{
  font-family: 'Gugi', cursive;
  font-size: 20px;
  font-weight: 300;
  border: 0px solid blue;
  background-color: yellow;
  color: black;
  padding: 5px;
  width: 200px;
}


/* https://codepen.io/littlesnippets/pen/BodOdR */
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
figure.snip1132 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 200px;
  max-width: 350px;
  max-height: 450px;
  width: 100%;
  background: #000000;
  color: #ffffff;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip1132 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.45s ease-in-out;
  transition: all 0.45s ease-in-out;
}

figure.snip1132 img {
  max-width: 100%;
  position: relative;
  opacity: 1;
}

figure.snip1132 figcaption {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 1px solid white;
  border-width: 0 1px;
}

figure.snip1132 .heading {
  overflow: hidden;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

figure.snip1132 .caption {
  overflow: hidden;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  position: absolute;
  width: 100%;
  bottom: 0;
}

figure.snip1132 h3,
figure.snip1132 p {
  font-family: 'Gugi', cursive;
  display: table;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
  text-align: center;
  width: auto;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1132 h3 span,
figure.snip1132 p span {
  font-weight: 800;
}

figure.snip1132 h3:before,
figure.snip1132 p:before,
figure.snip1132 h3:after,
figure.snip1132 p:after {
  position: absolute;
  display: block;
  width: 1000%;
  height: 1px;
  content: '';
  background: white;
}

figure.snip1132 h3:before,
figure.snip1132 p:before {
  left: -1000%;
}

figure.snip1132 h3:after,
figure.snip1132 p:after {
  right: -1000%;
}

figure.snip1132 h3:before,
figure.snip1132 h3:after {
  top: 50%;
}

figure.snip1132 p {
  font-family: 'Gugi', cursive;
  font-size: 0.8em;
  font-weight: 500;
}

figure.snip1132 p:before,
figure.snip1132 p:after {
  bottom: 50%;
}

figure.snip1132 a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figure.snip1132:hover img,
figure.snip1132.hover img {
  opacity: 0.35;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}
