<!DOCTYPE html>
<html lang="ko-KR">

<head>
  <meta charset="utf-8">
  <title>어서 와, 브릭캠퍼스제주 방탈출 게임이야!</title>
<link href="static/style.css?ver=1" rel="stylesheet">
<style>
body {
  background-image: url('https://lh3.google.com/u/0/d/13Fn_T1ep_vm8mQuOgq7ATliblaA7odlt=w1920-h937-iv1');
}
</style>
</head>
<body>
<div class="topnav" id="topnav">
  <a href="http://www.brickcampus.com/" target="_blank"><img src="https://pds.saramin.co.kr/company/logo/201810/01/pfwws8_sc7x-3xrv1k_logo.png" width="60px"></a>
  <a href="http://www.brickcampus.com/child/sub/jeju/info.php" target="_blank">브릭캠퍼스제주</a>
  <a href="https://booking.naver.com/booking/5/bizes/116089?area=plt" target="_blank">예매하기</a>
  <a href="https://www.youtube.com/channel/UCsImMqJ4w_lGIlb0MSzG-cw" target="_blank">유튜브</a>
  <a class="active2" href="/escaperoom" style="float:right">VR투어 방탈출</a>
  <a class="active1" href="https://kocca.vrmaker.co.kr/pano-player/1700790272" style="float:right" target="_blank">VR투어 전체</a>
  <a href="/storyvideo" style="float:right">스토리 영상</a>
  <a href="/" style="float:right">홈</a>
</div>
<div class="header">
  <h1>자, 게임을 시작하지.</h1>
  <h5>브릭캠퍼스에 감금된 당신은 문제를 맞혀야 탈출할 수 있네. </h5>
</div>
<div class="row">
  <div class="column">
    <div class="card">
      <a href="https://vrmaker.io/pano-player/1718812672" target="_blank">
        <img src='https://lh3.google.com/u/0/d/1nqHOGkrGu2inwA8sWe_ELPaK5xVRdSgD=w1074-h937-iv1' alt="방에 갇히기" width="400 px;" padding="10 px;">
      </a>
      <h5>바로 위 브릭 TV를 클릭하여 방 안을 탐색한 후 답을 알아내시게.</h5>

      <div class="form-group">
        <h2>아래 칸에 답을 입력해.</h2>
       <h2>방 안에는 특급 힌트도 숨어있으니 참고하길. 훗.</h2>
        <!--
          {% if message %}
            <h6>{{ message }}</h6>
          {% endif %}
          -->
          <form action="" method="post">
            <p>

              <input type="text" name="answ">
            </p>
            <p>
              <input type="submit" value="도전" id="button">
            </p>
          </form>
          <div>
            <body>
            </body>
          </div>
      </div>

    </div>
  </div>
</div>
