<!DOCTYPE html>
<html lang="ko-KR">
<head>
  <meta charset="utf-8">
  <title>어서 와! 브릭캠퍼스제주 방탈출 게임이야!</title>
<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
<style>

body {
  background-image: url('https://lh3.google.com/u/0/d/13Fn_T1ep_vm8mQuOgq7ATliblaA7odlt=w1920-h937-iv1');
}

.header h2 {
  font-family: 'Gugi', cursive;
  font-size: 75px;
  font-weight: 100;
  color: #00307d;
  margin: 20px;
}

</style>
</head>
<body>
<div class="topnav">
  <a href="/"><img src="https://pds.saramin.co.kr/company/logo/201810/01/pfwws8_sc7x-3xrv1k_logo.png" width="60px">VR홈</a>
  <a href="http://www.brickcampus.com/child/sub/jeju/info.php" target="_blank">브릭캠퍼스제주</a>
  <a href="https://booking.naver.com/booking/5/bizes/116089?area=plt" target="_blank">예매하기</a>
  <a href="https://www.youtube.com/channel/UCsImMqJ4w_lGIlb0MSzG-cw" target="_blank">유튜브</a>
  <a href="#">스토리영상</a>
  <a class="active2" href="/escaperoom" style="float:right">VR투어 방탈출</a>
  <a class="active1" href="https://kocca.vrmaker.co.kr/pano-player/1700790272" style="float:right" target="_blank">VR투어 처음부터</a>
</div>
<div class="header">
  <h2>제법인 걸?</h2>
  <h5>아래 링크를 눌러서 다음 전시관으로 구경하도록 해. </h5>
</div>

<!--
<div class="row">
  <div class="column">
    <div class="card">
      <a href="https://kocca.vrmaker.co.kr/pano-player/1700790272" target="_blank"><img src='https://lh3.google.com/u/0/d/1ZHS9v2TPIseAfk_PUT6ksyY7dnejxKy0=w1679-h880-iv1' alt="방에 갇히기" width="300"></a>
      <h5>바로 위 브릭으로 만든 TV를 클릭하여 방 곳곳에 숨어있는 힌트를 찾아라.</h5>
      <h2>문제: 내가 피는 담배의 이름이 무엇인가?</h2>
    </div>
    <div class="form-group">
      <h2>아래 칸에 답을 입력하라.</h2>
      <h2>틀리면 탈출할 수 없다. 답을 입력할 기회는 단 한 번이다.</h2>
        <form action="" method="post">
          <p>
            <label for="answ"></label>
            <input type="text" name="answ">
          </p>
          <p>
            <input type="submit" value="도전" id="button">
          </p>
        </form>
        <div>
          <body>
          </body>
        </div>
      </div>
    </div>
  </div>